$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 20px;
$palette-one: #e2eede;
$palette-two: #aed0be;
$palette-three: #808e87;
$palette-four: #f4b266;
$border-radius: 5px;
$set-border: 1px solid black;
