@import "_variables";

body {
  font-family: $serif-fonts;
  font-size: $font-base-size;
}

h1 {
  color: $palette-one;
}

h2 {
  color: $palette-two;
}

h3 {
  color: $palette-three;
}

h4 {
  color: $palette-four;
}

h5 {
  color: lighten($palette-four, 10%);
}

label {
  font-size: $font-base-size * 1.25;
  color: $palette-three;
}

table,
th,
td {
  border: $set-border;
}

th:hover {
  color: $palette-four;
}

tr:nth-child(even) {
  background-color: $palette-one;
}

img,
input,
textarea {
  border-radius: $border-radius;
  font-family: $serif-fonts;
  font-size: $font-base-size;
  border: $set-border;
}
